.workbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 1.7rem;
    background-color: $light__green;
    border-radius: 0 5px 5px 0;
    border: 2px solid transparent;
    background-color: transparent;
    border-left: none;
    cursor: pointer;

    &--insideOneDay {
        border-radius: 5px;
    }

    &--revers {
        left: 0 !important;
        border-radius: 5px 0 0 5px;
        border-right: none;
        border-left: 2px solid transparent;
    }

    &--hasMore {
        position: absolute;
        bottom: -5%;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;

        &:hover svg {
            fill: $green;
        }
    }

    &--between {
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
    }
}