.workbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    height: 2rem;
    background-color: $light__green;
    border-radius: 0 5px 5px 0;
    border: 2px solid transparent;
    background-color: transparent;
    border-left: none;

    &--insideOneDay {
        border-radius: 5px;
    }

    &--revers {
        left: 0 !important;
        border-radius: 5px 0 0 5px;
        border-right: none;
        border-left: 2px solid transparent;
    }
}